@model IEnumerable<FiberConnectionClient.Models.Offer>

@{
    ViewData["Title"] = "AdminControlOfferDetails";
}
@{
    Layout = "_AdminLayout";
}
<br />
<div class="flash">
    <h2>Offer Details</h2>
</div>
<table class="table bg-dark crd">
    <thead style="color: #03e9f4;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lionplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hungamaplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ultra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotstar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Netflix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Others)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style="color: #8a6ea7;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lionplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hungamaplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ultra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotstar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Netflix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Others)
                </td>
                <td class="flash">
                    @Html.ActionLink("Update", "AdminControlEditOffer", new { id = item.OfferId })
                    @Html.ActionLink("Delete", "AdminControlDeleteOffer", new { id = item.OfferId })
                </td>
            </tr>
        }
    </tbody>
</table>
