@model FiberConnectionClient.Models.Offer

@{
    ViewData["Title"] = "AdminControlDeleteOffer";
}
@{
    Layout = "_AdminLayout";
}

<style>
    .tcolor {
        color: #03e9f4;
    }

    .c1 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

    .text-n {
        color: #8a6ea7;
    }
</style>
<br />
<div class="flash">
    <h2>Are you sure you want to delete this Offer ?</h2>
</div>
<div class="card crd c1 bg-dark login-box" style="max-width: 30rem;">
    <h2>Offers</h2>
    <hr />
    <div>
        <div class="card-body text-center">
            <div class="text-center text-n">
                Voot : <span class="tcolor">@Html.DisplayFor(model => model.Voot)</span>
            </div>
            <br />
            <div class="text-center text-n">
                LionPlay : <span class="tcolor">@Html.DisplayFor(model => model.Lionplay)</span>
            </div>
            <br />
            <div class="text-center text-n">
                HungamaPlay : <span class="tcolor">@Html.DisplayFor(model => model.Hungamaplay)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Ultra : <span class="tcolor">@Html.DisplayFor(model => model.Ultra)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Hotstar : <span class="tcolor">@Html.DisplayFor(model => model.Hotstar)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Netflix : <span class="tcolor">@Html.DisplayFor(model => model.Netflix)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Others : <span class="tcolor">@Html.DisplayFor(model => model.Others)</span>
            </div>
            <br />


            <form asp-action="AdminControlDeleteOffer" id="f1" class="c1 flash">
                <input type="hidden" asp-for="OfferId" />
                <a href="#" onclick="document.getElementById('f1').submit();">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Delete
                </a>
                <a asp-action="AdminControlOfferDetails">Back</a>
            </form>
        </div>
    </div>
</div>

