@model IEnumerable<FiberConnectionClient.Models.Offer>

@{
    ViewData["Title"] = "AdminControlOfferDetails";
}

<h1>AdminControlOfferDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lionplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hungamaplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ultra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotstar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Netflix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Others)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lionplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hungamaplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ultra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotstar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Netflix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Others)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
