@model IEnumerable<FiberConnectionClient.Models.FiberPlan>

@{
    ViewData["Title"] = "AdminControlPlanDetails";
}
@{
    Layout = "_AdminLayout";
}

<br />
<div class="flash">
    <h2>Plan List</h2>
</div>
<table class="table bg-dark crd">
    <thead style="color: #03e9f4;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style="color: #8a6ea7;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferId)
                </td>
                <td class="flash">
                    <a  asp-action="AdminControlEditPlan" asp-route-id="@item.PlanId">Edit</a>
                    <a  asp-action="AdminControlDeletePlan" asp-route-id="@item.PlanId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
