@model IEnumerable<FiberConnectionClient.Models.Status>

@{
    ViewData["Title"] = "AllStatus";
}
@{
    Layout = "_EmployeeLayout";
}
<br />
<div class="flash">
    <h2>Status List</h2>
</div>
<table class="table table-responsive bg-dark crd">
    <thead style="color: #03e9f4;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhonenumber)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style="color: #8a6ea7;">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhonenumber)
            </td>
            <td class="flash">
                @Html.ActionLink("Work", "StatusEdit", new { id = item.StatusId })
            </td>
        </tr>
        }
    </tbody>
</table>
