@model IEnumerable<FiberConnectionClient.Models.Customer>

@{
    ViewData["Title"] = "AdminControl";
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "CustomerList";
}

<br />
<div class="flash">
    <h2>Booking Status</h2>
</div>
<table class="table table-responsive bg-dark crd">
    <thead style="color: #03e9f4;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAadharNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color: #8a6ea7;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAadharNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPassword)
                </td>
            </tr>
        }
    </tbody>
</table>
